<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
  <bean id="check" class="ru.connect2me.util.hh.util.Check"/>
  <bean id="id" class="ru.connect2me.util.hh.helper.Id"/>
  <bean id="fullname" class="ru.connect2me.util.hh.helper.FullName"/>
  <bean id="email" class="ru.connect2me.util.hh.helper.Email"/>
  <bean id="cellphone" class="ru.connect2me.util.hh.helper.Cellphone"/>
  <bean id="homephone" class="ru.connect2me.util.hh.helper.Homephone"/>
  <bean id="location" class="ru.connect2me.util.hh.helper.Location"/>
  <bean id="birthdate" class="ru.connect2me.util.hh.helper.Birthdate"/>
  <bean id="address" class="ru.connect2me.util.hh.helper.Address"/>
  <bean id="relocation" class="ru.connect2me.util.hh.helper.Relocation"/>
  <bean id="salary" class="ru.connect2me.util.hh.helper.Salary"/>
  <bean id="direction" class="ru.connect2me.util.hh.helper.Direction"/>
  <bean id="education" class="ru.connect2me.util.hh.helper.Education"/>
  <bean id="experience" class="ru.connect2me.util.hh.helper.Experience"/>    
  <bean id="citizenship" class="ru.connect2me.util.hh.helper.Citizenship"/>    
  <bean id="workPermit" class="ru.connect2me.util.hh.helper.WorkPermit"/>  
  <bean id="language" class="ru.connect2me.util.hh.helper.Language"/>  
  <bean id="skills" class="ru.connect2me.util.hh.helper.Skills"/> 
</beans>